<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <script
      src="https://kit.fontawesome.com/61f8d3e11d.js"
      crossorigin="anonymous"
    ></script>
    <title>Footer</title>
  </head>

  <body>
    <footer>
      <div class="foot-container">
        <div class="foot-wrapper">
          <div class="foot-container-top">
            <div>
              <p>Sewa</p>
              <p>Mobil</p>
              <p>Mudah!</p>
              <div>
                <ul class="socials">
                  <li>
                    <a href="https://www.instagram.com/sirental.official/" target="_blank"
                      ><i class="fa fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank"
                      ><i class="fa fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.whatsapp.com/" target="_blank"
                      ><i class="fa fa-whatsapp"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank"
                      ><i class="fa fa-linkedin-square"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="foot-container-bot">
            <div class="brand">
              <div class="firstname">SI</div>
              <div class="lastname">RENTAL</div>
            </div>
            <div>
              <p>copyright &copy;2023 by SIRENTAL. All Right Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
